@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

body {
	background-color: #112230;
	color: white;
	font-family: 'Open Sans', Sans-Serif;
	display: flex;
	flex-direction: column;
	align-items: center;
}

button {
	/*clear button default settings*/
	border-style: none;
	background: none;
	outline: none;
	font-family: 'Open Sans', Sans-Serif;
}

.app {
	width: 85%;
	max-width: 300px;
}

.header {
	margin-top: 16px;
	font-size: 32px;
	text-align: center;
}

.timer-face {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 3px solid white;
	border-radius: 16px;
	margin: 16px 8px;
	background-color: #4a4d54;
	max-width: 300px;
}

.timer-status {
	margin-top: 12px;
}

.timer {
	font-size: 64px;
	margin-bottom: 8px;
}

.inc-dec-buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding:0;
}

.inc-dec-wrapper {
	display: flex;
	flex-direction: column;
}

.button-label {
	text-align: center;
}

/*.between-inc-dec {
	margin: 8px;
}*/

.inc-dec-button {
	padding: 0;
	border-radius: 8px;
	background-color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.inc-dec {
	display: flex;
	flex-direction: column-reverse;
	height: 56px;
}

.sign {
	width:24px;
	height: 28px;
	font-size: 16px;
	color: white;
	background-color: #888;
	border: .5px solid #666;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.inc {
	border-top-right-radius: 8px;
}

.dec {
	border-bottom-right-radius: 8px;
}

.timer-length {
	font-size: 36px;
	color: #112235;
	background-color: transparent;
	text-align: center;
	width: 64px;
	height: 56px;
	align-self: stretch;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.start-stop-buttons {
	margin: 16px 8px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.pause-reset-buttons {
	margin: 8px 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.button {
	cursor: pointer;
	font-size: 16px;
	padding: 8px;
	border-radius: 4px;
	color: white;
}

.start {
	background-color: #5cc429;
}

.reset {
	width: 112px;
	background-color: #f4cc3d;
}

.pause {
	width: 112px;
	background-color: #888;
}

.start:active {
	background-color: #56ba25;
}

.reset:active  {
	background-color: #ceac33;
}

.pause:active {
	background-color: #666;
}

.sign:active {
	background-color: #777;
}
