button {
	/*clear button default settings*/
	border-style: none;
	background: none;
	outline: none;
}

.title {
	font-size: 4em;
	text-align: center;
}

.label {
	font-size: 3em;
}

.labelsm {
	font-size: 2em;
}

.col {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.row {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.paddingside {
	padding-left: 2em;
	padding-right: 2em;
}

.padsurround {
	padding: .25em;
}

.btnnopad {
	padding: 0;
}

.margtop {
	margin-top: 1.5em;
}

.marglabeltop {
	margin-top: .5em;
}

.marglabelbottom {
	margin-bottom: .5em;
}

.margbottom {
	margin-bottom: 1.5em;
}

.margside {
	margin-left: 1em;
	margin-right: 1em;
}

.inc_dec_side {
	padding-left: .5em;
	padding-right: .5em;
}

.underline {
	border-bottom: blue solid 4px;
}

.inc_dec_side:hover {
	background-color: #99f;
}

button:hover {
	background-color: #c6c6ff;
}

.btnactive:active {
	background-color: #66f;
}

@media (min-width: 540px) {
	.divWidth {
		width: 250px;
	}
}

@media (max-width: 540px) {
	.divWidth {
		width: 150px;
	}
	.title {
		font-size: 3em;
	}

	.label {
		font-size: 2em;
	}

	.labelsm {
		font-size: 1em;
	}
	.underline {
		border-bottom: blue solid 2px;
	}
}

@media (min-width: 400px) {
	.labelsm {
		font-size: 1.5em;
	}
}
